/**
 * Bulma Theme for ng-dual-datepicker
 * 
 * Import this file in your styles.scss to apply Bulma styling:
 * @import '@oneluiz/dual-datepicker/themes/bulma';
 * 
 * Make sure you have Bulma CSS already loaded in your project.
 */

.datepicker-wrapper.theme-bulma {
  
  .datepicker-input {
    display: block;
    width: 100%;
    padding: calc(0.5em - 1px) calc(0.75em - 1px);
    font-size: 1rem;
    line-height: 1.5;
    color: #363636;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    box-shadow: inset 0 0.0625em 0.125em rgba(10, 10, 10, 0.05);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    cursor: pointer;
    
    &:hover {
      border-color: #b5b5b5;
    }
    
    &:focus {
      border-color: #3273dc;
      box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
      outline: 0;
    }

    &::placeholder {
      color: #b5b5b5;
    }

    &:disabled,
    &[readonly] {
      background-color: #f5f5f5;
      border-color: #f5f5f5;
      box-shadow: none;
      color: #7a7a7a;
      opacity: 1;
    }
  }

  .date-picker-dropdown {
    background: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 6px;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.02);
  }

  .date-picker-presets {
    button {
      background-color: #fff;
      border: 1px solid #dbdbdb;
      color: #3273dc;
      padding: calc(0.5em - 1px) 1em;
      border-radius: 4px;
      font-size: 0.875rem;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.15s ease-in-out;

      &:hover {
        background-color: #3273dc;
        border-color: #3273dc;
        color: #fff;
      }

      &:active,
      &:focus {
        box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
        outline: 0;
      }
    }

    .btn-close-calendar {
      background-color: #fff;
      border: 1px solid #dbdbdb;
      color: #f14668;
      
      &:hover {
        background-color: #f14668;
        border-color: #f14668;
        color: #fff;
      }
    }
  }

  .date-picker-header {
    button {
      background-color: #fff;
      border: 1px solid #dbdbdb;
      color: #363636;
      border-radius: 4px;
      padding: 0.25em 0.5em;
      
      &:hover {
        background-color: #f5f5f5;
        border-color: #b5b5b5;
      }

      &:focus {
        border-color: #3273dc;
        box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
      }
    }
  }

  .day {
    color: #363636;
    border-radius: 4px;
    
    &:hover:not(.disabled):not(.selected):not(.in-range) {
      background-color: #f5f5f5;
    }

    &.selected {
      background-color: #3273dc;
      color: #fff;
      font-weight: 600;
    }

    &.in-range {
      background-color: rgba(50, 115, 220, 0.1);
      color: #3273dc;
    }

    &.today {
      border: 2px solid #3273dc;
      font-weight: 600;
    }

    &.disabled {
      color: #b5b5b5;
      background-color: transparent;
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

  .selected-ranges {
    .range-tag {
      background-color: #3273dc;
      color: #fff;
      border: none;
      border-radius: 4px;
      padding: 0.25em 0.75em;
      font-size: 0.875rem;
    }

    .btn-remove {
      background-color: transparent;
      border: none;
      color: #fff;
      
      &:hover {
        color: #f14668;
      }
    }
  }

  .date-picker-footer {
    border-top: 1px solid #dbdbdb;

    .btn-clear,
    .btn-cancel {
      background-color: #fff;
      border: 1px solid #dbdbdb;
      color: #7a7a7a;
      padding: calc(0.5em - 1px) 1em;
      border-radius: 4px;
      
      &:hover {
        background-color: #f5f5f5;
        border-color: #b5b5b5;
        color: #363636;
      }
    }

    .btn-apply {
      background-color: #3273dc;
      border: 1px solid transparent;
      color: #fff;
      padding: calc(0.5em - 1px) 1em;
      border-radius: 4px;
      font-weight: 600;
      
      &:hover {
        background-color: #2366d1;
      }

      &:focus {
        box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
      }

      &:disabled {
        background-color: #7a7a7a;
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }
}
